<main class="container ">
    <h1 class="text-center display-4">Lista de Postagens</h1>
    <br><br><br>
    <div class="card text-light" style="background-color: #0a4275;">
        <div class="card-body row">
            <h1 class="col-md">Administre as postagens</h1>
            <a class="col-md-2"  href="/rota_postagem/adminpost"><button class="btn btn-success btn-lg">Administrar!</button></a>
        </div>
    </div>
    <br>
    <div class="text-light card-body jumbotron" style="background-color: #0a4275;">
        {{#each postagens}}
        <div class="row ml-2">
            <img class=" img" src="{{imagem}}" width="15%" height="15%" alt="{{titulo}}">
            <div class="col-8">
                <h2>{{titulo}}</h2>
                <p>
                    <script>
                    function strReplace(myStr){
                        var newStr = myStr.replace(/'/g, "");
                        
                        return newStr;
                    }
                    var conteudocru = decodeURIComponent("{{{conteudo}}}");
                    var conteudotratado = strReplace(conteudocru);
                    var conteudoFinalizado = conteudotratado.substr(0, 150);
                    document.write(conteudoFinalizado + "...");
                </script>
                </p>
                <p><script>
                    var datajson = decodeURIComponent("{{{createdAt}}}")
                    var data = new Date(datajson);
                    var dataFormatada = data.toLocaleDateString();
                    document.write("Data: " + dataFormatada);
                </script></p>
                <a href="/rota_postagem/post/{{id}}"><button class="btn btn-block btn-primary col-md-3">Ver postagem</button></a>
            </div>
            {{else}}
            <h2>Não há publicações registradas</h2>
        </div>
        <hr style="background-color: ivory;">
        {{/each}}
    </div>
    <br>
</main>